{% extends "../base_template_new.jinja2" %}

{% block div %}

    <table class="table table-striped">
    <tr>
        <th>Username</th>
        <th>Tweet count</th>
        <th>Distance travelled</th>
        <th>Regions visited</th>
    </tr>
    {% for tweeter in tweeters %}
        <tr>
            <td><a href="/tweeter/profile/{{ tweeter.id }}">{{ tweeter.username }}</a></td>
            <td>{{ tweeter.tweet_count }}</td>
            <td>{{ tweeter.distance_travelled }} KM</td>
            <td style="width: 40%">{{ ', '.join(tweeter.regions) }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}