<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}

      {% set geo_transition = 'transition: 0.25s;' %}


      body {
          background-color: #dedede;
          font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
          font-size: 12px;
      }
      #map-main {
      	height: 100%;
      	margin: 0;
      	padding: 0;
      }

      #info-container {
          position:fixed;
          top:0;
          left:0;
          bottom: 0;
          width: 400px;

      }

      #app-map-container {
      	height: 100%;
      	margin: 0;
      	padding: 0;
      	position: relative;
      }
      #map-mini-container {
      	position: absolute;
      	height: 128px;
      	width: 100%;
      	bottom: 0;
      	text-align: center;
          overflow: auto;
          background-color: rgba(100,100,100,0.4);
      }

       #map-mini-container-shadow {
      	   z-index: 100;
           position: fixed;
           height: 128px;
           bottom: 0;
           left: 0;
           right: 0;
           box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2) inset;
           pointer-events: none;
      }

      .map-mini {
          width:100%;
          height: 100%;
      }

      .map-mini-title {
          position: absolute;
          top: 0px;
          left:0px;
          right:0px;
          background-color: white;
          opacity: 0.9;
          padding: 2px;
          font-size: 14px;
          font-weight: bold;
      }

      .map-mini-overlay {
          position: absolute;
          top: 0px;
          left:0px;
          right:0px;
          bottom: 0px;
          cursor: pointer;
      }

      #toggle-button-container > div, #control-button-container > div {
          float:left;
          width: 64px;
          height: 64px;
          background-color: #1e88e5;
{#          right: 20px;#}
          bottom: 148px;
          border-radius: 50%;
          background-size: 60px;
          box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2);
          background-position: center;
          background-repeat: no-repeat;
          cursor: pointer;
          margin:6px;
          z-index: 20;
      }

      #toggle-button-heat {
          background-image: url('/static/images/heatmap-icon.png');
      }

      #toggle-button-graph {
          background-image: url('/static/images/graph-icon.png');
      }

      #toggle-button-path {
          background-image: url('/static/images/path-icon.png');
      }

      #control-button-forward {
          background-image: url('/static/images/forward-icon.png');
      }

      #control-button-play {
          background-image: url('/static/images/play-icon.png');
      }

      #control-button-rewind {
          background-image: url('/static/images/rewind-icon.png');
      }

      #toggle-button-container > div:hover, #control-button-container > div:hover {
          transition: 0.2s;
          box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.2);
          width: 72px;
          height: 72px;
          background-size: 64px;
          right: 16px;
          bottom: 144px;
          margin: 2px;
      }

      #toggle-button-container, #control-button-container {
          position: absolute;
          height: 64px;
          bottom: 148px;
          z-index: 20;
      }

      #toggle-button-container {
          right: 20px;
      }

      #control-button-container {
          left: 20px;
      }

     .toggle-selected {
          background-color: #e57b1e !important;
      }

      .map-mini-wrapper {
        width: 160px;
        height: 100px;
        display: inline-block;
        background-color: white;
        margin: 12px;
        padding: 0;
        position:relative;
        border: 4px solid white;
        box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2);
      }

      .map-mini-wrapper:hover {
          transition: 0.2s;
          box-shadow: 0 5px 4px 4px rgba(0, 0, 0, 0.4);
          width: 166px;
          height: 103px;
          margin: 9px;
      }

      #tweet-container {
      	position: absolute;
      	bottom: 156px;
      	width: 100%;
      	text-align: center;
      }

      #tweet-view {
        {{ geo_transition }}
        position: absolute;
        bottom: 156px;
        width: 50%;
        text-align: center;
        font-size: 16px;
        left: 25%;
        color: black;
        box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.1);
        padding: 4px;
        background-color: rgba(255,255,255,0.75);
        pointer-events: none;
      }

      #tweet-view.tv-hide {
          {{ geo_transition }}
          opacity: 0;
      }

        #tweet-timeline {
            position: absolute;
            bottom: 128px;
            width: 100%;
            height: 24px;
            background-color: white;
        }

        #tweet-timeline-bar {
            background-color: #fcc979;
            opacity: 0.5;
            width: 0;
            height: 100%;
            z-index: 1;
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
        }

        #tweet-timeline-bar {
            transition: 0.1s;
        }

        .tweet-timeline-divider {
            top: 0;
            bottom: 0;
            position: absolute;
            z-index: 1;
        }
        .tweet-timeline-divider:nth-child(even) {
            background-color: #c4dbfe;
            opacity: 0.5;
        }

     .control-button-mini {
          width: 50px !important;
          height: 50px !important;
          background-size: 40px !important;
          margin-top: 15px !important;
      }

        .control-button-mini:hover {
          width: 58px !important;
          height: 58px !important;
            margin: 2px !important;
            margin-top: 10px !important;

        }

    #geo-profile {
      {{ geo_transition }}
        position: absolute;
        background-color: rgba(255,255,255,0.75);
        width: 360px;
        height: 64px;
        top: 16px;
        left: 16px;
        overflow: hidden;
        box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.1);
    }

    #geo-profile > #content-container {
        position:absolute;
        top:96px;
        width:100%;
        height: 100%;
        background-color: rgba(255,255,255, 0.9);
        padding: 4px;
        overflow: auto;
    }

    #geo-profile > #expand-button {
        {{ geo_transition }}
        position: absolute;
        width: 52px;
        height: 52px;
        background-color: rgba(100,100,100,0.4);
        right: 6px;
        top: 6px;
        transform: rotate(90deg);
        cursor: pointer;
    }

    #geo-profile.expanded > #expand-button {
      {{ geo_transition }}
        transform: rotate(-90deg);
    }

    #geo-profile > #expand-button > img {
        width: 100%;
        height: 100%;
    }

    #geo-profile > #image-container {
        {{ geo_transition }}
        background-image: url('{{ tweeter.profile_image }}');
        background-size: cover;
        position: absolute;
        width: 64px;
        height: 64px;
        background-color: white;
    }

     #geo-profile > .username {
        {{ geo_transition }}
        position: absolute;
         top: 36px;
         left: 72px;
         font-size: 16px;
    }

     #geo-profile.expanded > .username {
        {{ geo_transition }}
        position: absolute;
         top: 36px;
         left: 104px;
         font-size: 16px;
    }

     #geo-profile > .name {
        {{ geo_transition }}
        position: absolute;
         top: 8px;
         left: 72px;
         font-size: 22px;
    }


    #geo-profile.expanded > .name {
        {{ geo_transition }}
        position: absolute;
         top: 8px;
         left: 104px;
         font-size: 22px;
    }

    #geo-profile > .popularity {
        {{ geo_transition }}
        position: absolute;
         top: 70px;
         left: 104px;
         font-size: 14px;
        opacity: 0;
    }

    #geo-profile.expanded > .popularity {
        {{ geo_transition }}
        opacity: 1;
    }

    #geo-profile.expanded {
        {{ geo_transition }}
        height: 360px;
    }

    #geo-profile.expanded > #image-container {
        {{ geo_transition }}
        width: 96px;
        height: 96px;
    }

    #content-container .heading  {
        font-size: 18px;
        padding: 2px;
    }

    #content-container .content  {
        padding-left: 6px;
        font-size: 14px;
    }

    #content-container .content p  {
        padding: 0px;
        margin: 2px;
        padding-left: 6px;
        font-size: 12px;
    }

    .timeline-tick {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: #f9a015;
        opacity: 0.9;
        width: 4px;
        z-index: 2;
    }

    .timeline-tick.tt-hover {
        {{ geo_transition }}
{#        background-color: #f92e15;#}
        opacity: 1;
        z-index: 3;
        top: -8px;
    }

    .map-mini-sentiment-container {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 1px;
    }

    .map-mini-sentiment-positive,
    .map-mini-sentiment-negative,
    .map-mini-sentiment-neutral {
        padding: 4px;
        width: 16px;
        height: 16px;
        font-size: 12px;
        font-weight:bold;
        border-radius: 50%;
        color: white;
        margin: 2px;
        float:right;
        text-align: center;
    }

    .map-mini-sentiment-positive {
        background-color: green;
    }

    .map-mini-sentiment-negative {
        background-color: red;
    }

    .map-mini-sentiment-neutral {
        background-color: #f9a015;
        color: black;
    }

    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyC5tLFz07HmO9gLj8io8hUn4Llh06NfXM4&libraries=visualization"></script>
    <script type="text/javascript">
      var glob;
      function initialize() {

		var southwestBound = { lat: 55.55, lng: -4.64};
		var northeastBound = { lat: 56.18, lng: -3.43};
		var centerPoint = { 
			lat: (southwestBound.lat + northeastBound.lat)/2, 
			lng: (southwestBound.lng + northeastBound.lng)/2
		};

        var mapOptions = {
          center: centerPoint,
          zoom: 15
        };

        var map = new google.maps.Map(document.getElementById('map-main'),
            mapOptions);

  //       var mapContainers = document.getElementsByClassName('map-mini');
  //       var maps = [];
  //       for (var i = 0, container; container = mapContainers[i++];) {
  //       	var newMap = new google.maps.Map(container, miniMapOptions);
  //       	maps.push(newMap)
		// };


		// var regionBoundsCoordinates = [
		// 	new google.maps.LatLng(southwestBound.lat, southwestBound.lng),
		// 	new google.maps.LatLng(southwestBound.lat, northeastBound.lng),
		// 	new google.maps.LatLng(northeastBound.lat, northeastBound.lng),
		// 	new google.maps.LatLng(northeastBound.lat, southwestBound.lng),
		// 	new google.maps.LatLng(southwestBound.lat, southwestBound.lng)
		// ];
		// var regionBounds = new google.maps.Polyline({
		// 	path: regionBoundsCoordinates,
		// 	geodesic: true,
		// 	strokeColor: '#000',
		// 	strokeOpacity: 1.0,
		// 	strokeWeight: 2
		// });

		// regionBounds.setMap(map);

		// var points = [[55.873156, -4.051977, 0, 'Test tweet #1'], [55.873156, -4.051977, 20, 'Test tweet #2'], [55.873156, -4.051977, 40, 'Test tweet #3'], [55.873157, -4.052009, 60, 'Test tweet #4'], [55.873158, -4.052039, 80, 'Test tweet #5'], [55.873155, -4.052025, 100, 'Test tweet #6'], [55.869045, -4.04457, 120, 'Test tweet #7'], [55.8691, -4.044756, 140, 'Test tweet #8'], [55.869093, -4.044682, 160, 'Test tweet #9'], [55.869072, -4.044599, 180, 'Test tweet #10'], [55.869045, -4.044569, 200, 'Test tweet #11'], [55.869045, -4.04457, 220, 'Test tweet #12'], [55.869051, -4.044561, 240, 'Test tweet #13'], [55.86904, -4.044545, 260, 'Test tweet #14'], [55.86904, -4.044548, 280, 'Test tweet #15'], [55.86904, -4.044548, 300, 'Test tweet #16'], [55.869048, -4.044561, 320, 'Test tweet #17'], [55.869051, -4.044563, 340, 'Test tweet #18'], [55.869043, -4.044575, 360, 'Test tweet #19'], [55.869062, -4.044647, 380, 'Test tweet #20'], [55.869498, -4.04461, 400, 'Test tweet #21'], [55.873156, -4.052006, 420, 'Test tweet #22'], [55.873193, -4.052009, 440, 'Test tweet #23'], [55.873182, -4.052028, 460, 'Test tweet #24'], [55.873165, -4.051952, 480, 'Test tweet #25'], [55.873203, -4.052028, 500, 'Test tweet #26'], [55.873163, -4.051957, 520, 'Test tweet #27'], [55.873151, -4.052016, 540, 'Test tweet #28'], [55.873151, -4.051986, 560, 'Test tweet #29'], [55.873161, -4.052013, 580, 'Test tweet #30'], [55.873163, -4.052044, 600, 'Test tweet #31'], [55.873166, -4.05204, 620, 'Test tweet #32'], [55.873152, -4.051986, 640, 'Test tweet #33'], [55.873175, -4.052044, 660, 'Test tweet #34'], [55.873167, -4.052038, 680, 'Test tweet #35'], [55.873167, -4.052027, 700, 'Test tweet #36'], [55.873166, -4.05204, 720, 'Test tweet #37'], [55.873171, -4.052011, 740, 'Test tweet #38'], [55.873172, -4.052018, 760, 'Test tweet #39'], [55.873172, -4.05201, 780, 'Test tweet #40'], [55.873182, -4.052018, 800, 'Test tweet #41'], [55.873178, -4.052018, 820, 'Test tweet #42'], [55.873164, -4.05204, 840, 'Test tweet #43'], [55.873158, -4.051962, 860, 'Test tweet #44'], [55.873167, -4.052028, 880, 'Test tweet #45'], [55.873162, -4.052014, 900, 'Test tweet #46'], [55.873149, -4.051963, 920, 'Test tweet #47'], [55.873152, -4.051963, 940, 'Test tweet #48'], [55.873153, -4.052007, 960, 'Test tweet #49'], [55.8732, -4.052029, 980, 'Test tweet #50'], [55.869042, -4.044545, 1000, 'Test tweet #51'], [55.869044, -4.044542, 1020, 'Test tweet #52'], [55.869043, -4.044544, 1040, 'Test tweet #53'], [55.869073, -4.044588, 1060, 'Test tweet #54'], [55.873162, -4.052004, 1080, 'Test tweet #55'], [55.869046, -4.04455, 1100, 'Test tweet #56'], [55.869043, -4.044541, 1120, 'Test tweet #57']];

		var points = {{ jsonify(geodata) | safe }};


		// var pointsLatLng = [];

		// for (var i = 0, point; point = points[i++];) {
		// 	var latLng = new google.maps.LatLng(point[0], point[1]);
		// 	pointsLatLng.push(latLng);
		// };


		// var i = 0;
		// var line = new google.maps.Polyline({
		// 	path: pointsLatLng.slice(0, i+1),
		// 	map: map
		// });

		// setInterval(function() {
		// 	if (item = pointsLatLng[i++]) {
		// 		line.getPath().push(item);
		// 		console.log(i, item, map);
		// 		var marker = new google.maps.Marker({
		// 			position: item,
		// 			map: map
		// 		});
		// 	}
		// }.bind(this), 500);

		var TweetTicker = function(parent, limit) {
			var limit = limit || 5;
			var parent = parent;
			var tweets = [];
			var divs = [];
			var index = 0;

			this.push = function(tweet) {
				if (tweets.length < limit) {
					divs[tweets.length].innerHTML = tweet;
				}
				tweets.push(tweet);
			}

			this.increment = function() {
				for(var i = 1, div; div = divs[i++];) {
					divs[i-2].innerHTML = div.innerHTML;
				}

				index++;
				divs[divs.length-1].innerHTML = tweets[index];
			}

			this.remove = function() {
				clear();
			}

			var clear = function() {
				var children = Array.prototype.filter.call(parent.children, function(child){ return child !== parent; });
				for (var i = 0, child; child = children[i++];) {
					parent.removeChild(child);
				}
			}

			var init = function() {
				clear();
				for (var i = 0; i < limit; i++) {
					var div = document.createElement('div');
					div.innerHTML = '#' + i;
					divs.push(div);
					parent.appendChild(div);
				}
			}.bind(this);
			init();
		};

        var TimeLine = function(progressCallback, playCallback) {
            var progressCallback = progressCallback;
            var playCallback = playCallback;
            var isPlaying = false;
            var points = [];
            var elements = [];
            var separators = [];
            var map = null;

            var container = document.getElementById('tweet-timeline');
            var bar = document.getElementById('tweet-timeline-bar');
            var tweetContainer = document.getElementById('tweet-view');

            var playButton = document.getElementById('control-button-play');
            var rewindButton = document.getElementById('control-button-rewind');
            var forwardButton = document.getElementById('control-button-forward');

            this.setPoints = function(currentMap, newPoints, pointTimes, maxTime) {
                map = currentMap;
                points = newPoints;

                for (var i = 0; i < separators.length; i++) {
                    container.removeChild(separators[i]);
                }

                separators = [];

                for (var i = 0; i < elements.length; i++) {
                    container.removeChild(elements[i]);
                }

                elements = [];

                var dayCount = Math.floor(maxTime/1440);
                for (var i = 0; i < (dayCount-1); i++) {
                    var separator = document.createElement('div');
                    separator.className = 'tweet-timeline-divider';
                    separator.style.left = (((1440*(i+1))/maxTime)*100) + '%';
                    separator.style.width = ((1/dayCount)*100) + '%';

                    container.appendChild(separator);
                    separators.push(separator);
                };

                for (var i = 0, point; i < points.length; i++) {
                    var point = points[i];
                    var tick = document.createElement('div');
                    tick.className = 'timeline-tick';
                    container.appendChild(tick);
                    tick.style.left = (Math.min(pointTimes[i]/maxTime * 100, 100)) + '%';
                    tick.setAttribute('data-id', i);

                    elements.push(tick);

                    tick.addEventListener('mouseover', function(e) {
                        var index = parseInt(this.getAttribute('data-id'));
                        _showTweet(index);
                    });
                    tick.addEventListener('mouseout', function(e) {
                        var index = parseInt(this.getAttribute('data-id'));
                        _hideTweet(index);
                    });

                    if (point.sentiment == 'negative') {
                        tick.style.backgroundColor = 'red';
                        tick.style.zIndex = '5';
                    } else if (point.sentiment == 'positive') {
                        tick.style.backgroundColor = 'green';
                        tick.style.zIndex = '5';
                    }

                };
            };

            var _showTweet = function(index) {
                tweetContainer.innerHTML = points[index].tweet;
                tweetContainer.className = '';
                elements[index].className = 'timeline-tick tt-hover';
            };

            this.showTweet = _showTweet;

            var _hideTweet = function(index) {
                tweetContainer.className = 'tv-hide';
                elements[index].className = 'timeline-tick';
            };

            this.hideTweet = _hideTweet;

            this.pause = function() {
                if (isPlaying)
                    playButton.click();
            };

            this.play = function() {
                if (!isPlaying)
                    playButton.click();
            };

            playButton.addEventListener('click', function(e){
                isPlaying = !isPlaying;
                var fileName = isPlaying ? 'pause' : 'play';
                playButton.style.backgroundImage = "url('/static/images/" + fileName + "-icon.png')";
                playCallback(isPlaying);
            });

            rewindButton.addEventListener('click', function(e){
                progressCallback(0);
            });

            forwardButton.addEventListener('click', function(e){
                progressCallback(1);
            });

            container.addEventListener('click', function(e) {
                var x = e.pageX - container.offsetLeft;
                var y = e.pageY - container.offsetTop;
                var width = container.offsetWidth;
                progressCallback(x/width);
            });

            this.setProgress = function(progress) {
                bar.style.width = (Math.min(progress*100, 100)) + '%';
            };
        };

		var AnimLine = function(map, startPoint, endPoint) {
			var map = map;
			var start = null;
			var end = null;
			var deltaLat = null;
			var deltaLng = null;
			var line = null;

			this.setMap = function(map) {
				line.setMap(map);
			};

			this.setProgress = function(progress) {
				line.getPath().removeAt(1);
				line.getPath().push(new google.maps.LatLng(start.lat() + deltaLat*(1-progress), start.lng() + deltaLng*(1-progress)));
			};

			this.setPoints = function(startPoint, endPoint) {
				start = startPoint;
                if (endPoint == undefined)
                    endPoint = startPoint;
				end = endPoint;
				deltaLat = end.lat() - start.lat();
				deltaLng = end.lng() - start.lng();

				if (line) {
					line.getPath().removeAt(0);
					line.getPath().insertAt(0, start);
				}
			};

			var init = function(startPoint, endPoint) {
				this.setPoints(startPoint, endPoint);
				line = new google.maps.Polyline({
					path: [start, start],
					map: map,
					strokeColor: '#F00',
					strokeOpacity: 1.0,
					strokeWeight: 3
				});
			}.bind(this);

			init(startPoint, endPoint);
		}

		var Path = function(map, timeline, points, clusters, rangeClusters, state) {
            var mapState = state;

			var running = true;

            var currentDate = 0;
			var currentTime = 0;
			var targetTime = 0;
			var maxTime = 0;//24 * 60;
			
			var points = points;
			var clusters = clusters;
            var rangeClusters = rangeClusters;

			var incrementAmount = 20;
			var intervalAmount = 100;

			var points = points;

			var pointsLatLng = [];
            var normPointsLatLng = [];
			var index = 0;

			var line = null;
			var lineActive = null;

			//var ticker = ticker;
			var map = map;
            var heatmap = null;

			var markers = [];
            var clusterMarkers = [];

            var timeline = timeline;

			var run = function() {
				alert(this.maxTime);
			};

			this.remove = function() {
                toggleHeatMap(null);
                togglePathOverlay(null);
				running = false;
			};

            this.setProgress = function(progress) {
                currentTime = Math.max(0, (maxTime * progress) - intervalAmount);
                targetTime = 0;
                toggleHeatMap(null);
                togglePathOverlay(null);
                markers = [];
                line.setPath([]);
                index = 0;
                this.setMapState(mapState);
                update();
            };

            this.setActive = function(active) {
                running = active;
                if (running)
                    update();
            }

            var getTime = function(point) {
                return (1440*(point.time.days-startDays)) + (60*point.time.hour) + (point.time.minute);
            }

			var init = function() {
                timeline.setProgress(0);

                startDays = points[0].time.days;
				currentTime = 0;
				targetTime = getTime(points[1]);
                maxTime = 1440*(1 + points[points.length-1].time.days - startDays);

                var pointTimes = points.map(getTime);
                timeline.setPoints(map, points, pointTimes, maxTime);

				var bounds = new google.maps.LatLngBounds();

				for (var i = 0, cluster; cluster = clusters[i++];) {
					var marker = new google.maps.Marker({
						position: new google.maps.LatLng(cluster.lat, cluster.lng),
						icon: {
							url:'/static/marker-green.png',
							anchor: {x: 32, y: 32},
						},
						zIndex: 0
					});
					clusterMarkers.push(marker);
                    marker.setMap(map);
				}

                if (rangeClusters && rangeClusters.home[0]) {
                    var homeMarker = new google.maps.Marker({
                        position: new google.maps.LatLng(rangeClusters.home[0].lat, rangeClusters.home[0].lng),
                        icon: {
                            url: '/static/images/marker-home.png',
                            anchor: {x: 16, y: 16},
                        },
                        zIndex: 2
                    });
                    clusterMarkers.push(homeMarker);
                    homeMarker.setMap(map);
                }

                if (rangeClusters && rangeClusters.work[0]) {
                    var workMarker = new google.maps.Marker({
                        position: new google.maps.LatLng(rangeClusters.work[0].lat, rangeClusters.work[0].lng),
                        icon: {
                            url: '/static/images/marker-work.png',
                            anchor: {x: 16, y: 16},
                        },
                        zIndex: 2
                    });
                    clusterMarkers.push(workMarker);
                    workMarker.setMap(map);
                }

				for (var i = 0, point; point = points[i++];) {
					var latLng = new google.maps.LatLng(point.coord.lat, point.coord.lng);
                    var normLatLng = new google.maps.LatLng(point.normCoord.lat, point.normCoord.lng);
					pointsLatLng.push(latLng);
                    normPointsLatLng.push(normLatLng);
					bounds.extend(latLng);
					//ticker.push(point.tweet);
				}
				map.fitBounds(bounds);
				line = new google.maps.Polyline({
{#					path: pointsLatLng.slice(0, index+1),#}
					map: map,
					strokeColor: '#000',
					strokeOpacity: 0.5,
					strokeWeight: 1
				});
				lineActive = new AnimLine(map, pointsLatLng[0], pointsLatLng[1]);

                heatmap = new google.maps.visualization.HeatmapLayer({
                    data: pointsLatLng.slice(0,1),
                    radius: 25
                  });

                heatmap.setMap(null);

                this.setMapState(state);
{#				update();#}

            }.bind(this);

			var nextTarget = function() {
                var time = points[index].time;
                targetTime = getTime(points[index]);//(1440*(startDate-points[index].time.date)) + (24*points[index].time.hour) + (points[index].time.minute);

				var marker = new google.maps.Marker({
					position: getLatLngAtIndex(index),
					icon: {
						url:'/static/marker-red.png',
						anchor: {x: 16, y: 16}
					},
					zIndex: 1,
                    pointIndex: index
				});

                google.maps.event.addListener(marker, 'mouseover', function() {
                    timeline.showTweet(marker.pointIndex);
                });

                google.maps.event.addListener(marker, 'mouseout', function() {
                    timeline.hideTweet(marker.pointIndex);
                });

				markers.push(marker);

                if (mapState != 'heat') {
                    marker.setMap(map);
                    marker.setAnimation(google.maps.Animation.DROP);
                }
                lineActive.setMap(null);

				lineActive.setPoints(getLatLngAtIndex(index), getLatLngAtIndex(index+1));
				line.getPath().push(getLatLngAtIndex(index));
                heatmap.getData().push(pointsLatLng[index]);
				//ticker.increment();
				index++;
			};

			var update = function() {
				//console.log(startDays, Math.floor(currentTime/1440), currentTime, targetTime, maxTime, currentTime/maxTime, index, markers.length);

				currentTime += incrementAmount;
                timeline.setProgress(currentTime/maxTime);
				while (currentTime > targetTime && index < points.length) {
					nextTarget();
				}

                if (index != points.length) {
                    lineActive.setProgress((targetTime - currentTime)/points[index].time);
                }

				if (running)
					setTimeout(update, intervalAmount);
			};

            this.setMapState = function(state) {
                mapState = state;
                if (state != 'heat') {
                    toggleHeatMap(null);
                    togglePathOverlay(map);
                } else {
                    toggleHeatMap(map);
                    togglePathOverlay(null);
                }
            };

            var togglePathOverlay = function(map) {
                var linePoints = [];
{#				lineActive.setMap(map);#}
				for(var i = 0, marker; marker = markers[i++];) {
                    var latLng = getLatLngAtIndex(i);
                    if (latLng == undefined) {
                        marker.setMap(null);
                        continue;
                    }
                    marker.setPosition(latLng);
                    linePoints.push(latLng);
                    marker.setMap(map);
                }

                for(var i = 0, marker; marker = clusterMarkers[i++];) {
					marker.setMap(map);
				};

                line.setMap(map);
                try {
                    line.setPath(linePoints);
                } catch (e) {
                    alert('Error');
                    console.log(linePoints);
                    console.log(e);
                }
            };

            var getLatLngAtIndex = function(i) {
                if (mapState == 'path') {
                    return pointsLatLng[i];
                }
                return normPointsLatLng[i];
            };

            var toggleHeatMap = function(map) {
                if (heatmap) {
                    heatmap.setMap(map);
                }
            };

			init();
		};

		var Manager = function(map) {
			var map = map;
			var ticker = null;
			var path = null;
            var currMap = null;
            var currentState = 'path';

            var heatButton = null;
            var pathButton = null;
            var graphButton = null;


            this.activeMiniMap = function (miniMap) {
                if (currMap) {
                    currMap.toggle(false);
                }
                currMap = miniMap;
                currMap.toggle(true);
            }

			this.miniMapCallback = function(miniMap, points, clusters, rangeClusters) {
                this.activeMiniMap(miniMap);
				this.load(points, clusters, rangeClusters);
			};

			this.load = function(points, clusters, rangeClusters) {
				if (path) {
					path.remove();
				}
				/*if (ticker) {
					ticker.remove();
				}*/
                timeline.pause();
                timeline.setProgress(0);
				//ticker = new TweetTicker(document.getElementById('tweet-container'));
				path = new Path(map, timeline, points, clusters, rangeClusters, currentState);
                path.setMapState(currentState);
                glob = path;
			};

            var toggleButtonState = function(state) {
                pathButton.className = state == 'path' ? 'toggle-selected' : '';
                graphButton.className = state == 'graph' ? 'toggle-selected' : '';
                heatButton.className = state == 'heat' ? 'toggle-selected' : '';
            };

            pathButton = document.getElementById('toggle-button-path');
            graphButton = document.getElementById('toggle-button-graph');
            heatButton = document.getElementById('toggle-button-heat');

            var callback = function(newState) {
                currentState = newState;
                toggleButtonState(currentState);
                path.setMapState(currentState);
	      	}.bind(this);

            toggleButtonState(currentState);
            pathButton.addEventListener('click', function() {callback('path');});
            graphButton.addEventListener('click', function() {callback('graph');});
            heatButton.addEventListener('click', function() {callback('heat');});


            var setPathProgress = function(progress) {
                path.setProgress(progress);
                path.setActive(false);
                timeline.pause();
            };

            var setActive = function(isActive) {
                path.setActive(isActive);
            };

            var timeline = new TimeLine(setPathProgress, setActive);

		};


		var MiniMap = function(parent, points, clusters, rangeClusters, metaData, callback) {
	      	var metaData = metaData;

            var parent = parent;
            var wrapper = document.createElement('div');
	      	var container = document.createElement('div');
	      	var title = document.createElement('div');
            var overlay = document.createElement('div');
            var sentimentOverlays = {
                positive: document.createElement('div'),
                negative: document.createElement('div'),
                neutral: document.createElement('div')
            };

            var sentimentContainer = document.createElement('div');
            sentimentContainer.className = 'map-mini-sentiment-container';
            sentimentOverlays.positive.className = 'map-mini-sentiment-positive';
            sentimentOverlays.negative.className = 'map-mini-sentiment-negative';
            sentimentOverlays.neutral.className = 'map-mini-sentiment-neutral';

            sentimentContainer.appendChild(sentimentOverlays.positive);
            sentimentContainer.appendChild(sentimentOverlays.neutral);
            sentimentContainer.appendChild(sentimentOverlays.negative);

            container.className = 'map-mini';
            wrapper.className = 'map-mini-wrapper';
            title.className = 'map-mini-title';
            overlay.className = 'map-mini-overlay';
            title.innerHTML = metaData.date.formatted;


	      	var line = null;
	      	var points = points;
	      	var clusters = clusters;
            var rangeClusters = rangeClusters;
	      	var pointsLatLng = [];
	      	var callback = callback;

	        var miniMapOptions = {
	          center: centerPoint,
	          zoom: 6,
	          disableDefaultUI: true,
	          panControl: false,
	          zoomControl: false,
	          rotateControl: false
	        };
	        var map = null;

            var self = this;

	      	var init = function() {
	      		map = new google.maps.Map(container, miniMapOptions);
				var bounds = new google.maps.LatLngBounds();

                var sentiment = {
                    positive: 0,
                    negative: 0,
                    neutral: 0
                };

				for (var i = 0, point; point = points[i++];) {
					var latLng = new google.maps.LatLng(point.coord.lat, point.coord.lng);
					pointsLatLng.push(latLng);
					bounds.extend(latLng);
                    sentiment[point.sentiment]++;
				};

                sentimentOverlays.negative.innerHTML = sentiment.negative+"";
                sentimentOverlays.positive.innerHTML = sentiment.positive+"";
                sentimentOverlays.neutral.innerHTML = sentiment.neutral+"";

                console.log(sentiment);

				map.fitBounds(bounds);
	      		line = new google.maps.Polyline({
	      			path: pointsLatLng,
	      			map: map,
	      			strokeOpacity: 1,
					strokeWeight: 2
	      		});

	      		parent.appendChild(wrapper);
                wrapper.appendChild(container);
                wrapper.appendChild(title);
                wrapper.appendChild(sentimentContainer);
                wrapper.appendChild(overlay);

	      		overlay.addEventListener('click', function() {
	      			callback(self, points, clusters, rangeClusters);
	      		}.bind(this));
	      	};

            this.toggle = function(on) {
                var dark = '#1e88e5';
                var light = 'white';
                var bgColor = on ?  dark : light;
                var textColor = on ? light : '#000';
                wrapper.style.borderColor = bgColor;
                title.style.backgroundColor = bgColor;
                title.style.color = textColor;
            };

	      	this.getPoints = function() {
	      		return points;
	      	};

	      	init();
	    };

	    var manager = new Manager(map);

	    totalPoints = [];
	    for (var  i = 0, p; p = points.data[i++];) {
	    	totalPoints = totalPoints.concat(p.points);
	    };

	    manager.load(totalPoints, points.clusters, points.rangeClusters);

        var metaData = {
            date: {formatted: 'Overall'}
        };
	    var mini = new MiniMap(document.getElementById('map-mini-container'), totalPoints, points.clusters, points.rangeClusters, metaData, manager.miniMapCallback.bind(manager));
        mini.toggle(true);
        manager.activeMiniMap(mini);

		for (var i = 0, chunk; chunk = points.data[i++];) {
            if (chunk.points.length < 2) {
                continue;
            }

			var mini = new MiniMap(document.getElementById('map-mini-container'), chunk.points, chunk.clusters, null, chunk.metaData, manager.miniMapCallback.bind(manager));
		}
      }

      google.maps.event.addDomListener(window, 'load', initialize);

      window.addEventListener('load', function() {
          var expandButton = document.getElementById('expand-button');
          expandButton.addEventListener('click', function () {
              var geoProfile = document.getElementById('geo-profile');
              var alreadyExpanded = geoProfile.className == 'expanded'
              geoProfile.className = alreadyExpanded ? '' : 'expanded';
          });
      });

    </script>
  </head>
  <body>
{#    <div id="info-container">#}
{#        :)#}
{#    </div>#}
	<div id="app-map-container">
		<div id="map-main"></div>
		<div id="tweet-container"></div>
        <div id="tweet-view" class="tv-hide"></div>
        <div id="geo-profile">
            <div id="image-container"></div>
            <div id="expand-button">
                <img src="/static/images/play-icon.png">
            </div>
            <div class="username">@{{ tweeter.username }}</div>
            <div class="name">{{ tweeter.name }}</div>
            <div class="popularity">{{ tweeter.followers }} Followers, {{ tweeter.friends }} Friends</div>
            <div id="content-container">
                <div class="row">
                    <div class="heading">Regions Visited</div>
                    <div class="content">{{ ', '.join(tweeter.regions) }}</div>
                </div>
                <div class="row">
                    <div class="heading">Top cluster locations</div>
                    <div class="content">
                        {% for location in tweeter.cluster_locations %}
                            <p>{{ location }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="heading">Home Cluster</div>
                    <div class="content" style="font-size: 12px">{{ tweeter.range_cluster_locations.home[0] or "N/A" }}</div>
                </div>
                <div class="row">
                    <div class="heading">Work Cluster</div>
                    <div class="content" style="font-size: 12px">{{ tweeter.range_cluster_locations.work[0] or "N/A" }}</div>
                </div>
            </div>
        </div>
        <div id="tweet-timeline">
            <div id="tweet-timeline-bar"></div>
        </div>
        <div id="toggle-button-container">
            <div id="toggle-button-heat"></div>
            <div id="toggle-button-path"></div>
            <div id="toggle-button-graph"></div>
        </div>

        <div id="control-button-container">
            <div id="control-button-rewind" class="control-button-mini"></div>
            <div id="control-button-play"></div>
            <div id="control-button-forward" class="control-button-mini"></div>
        </div>

		<div id="map-mini-container">
            <div id="map-mini-container-shadow"></div>
		</div>
	</div>
  </body>
</html>