{% extends "base_template_new.jinja2" %}
{% block div %}
    <div class="box box-info">
        <div class="box-header">
            <!-- tools box -->
            <div class="pull-right box-tools">
                <button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
            </div><!-- /. tools -->

            <i class="fa fa-bar-chart-o"></i>
            <h3 class="box-title">
                Sentiment Distribution
            </h3>
        </div>
        <div class="box-body">
            <div id="all_sentiment" style="min-width: 310px; height: 600px; max-width: 1000px; margin: 0 auto"></div>
        </div><!-- /.box-body-->
    </div>
    <script>
        var sentimentData = {{ sentiment }};
    window.addEventListener('load', function() {
        console.log(sentimentData);
    })
    </script>
{% endblock %}