{% extends "base_template_new.jinja2" %}

{% block div %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Emoticons Group</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Group</th>
                    <th>Emoticons</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Happy</td>
                    <td>😁😂😃😄😅😆😇😈😉😊😋😍😎😏 😀:) :-) :o) :-D ...</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Sad</td>
                    <td>😒😓😔😕😖😭:( :-( :o( ...</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Tongue</td>
                    <td>😜😛😝</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Wink</td>
                    <td>😜;-)</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Worried</td>
                    <td>😟</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Angry</td>
                    <td>😠😡😤</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Screaming</td>
                    <td>😱</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Sleepy</td>
                    <td>😴😵</td>
                </tr>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
    <div class="box box-info">
        <div class="box-header">
            <!-- tools box -->
            <div class="pull-right box-tools">
                <button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>
                <button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
            </div><!-- /. tools -->
            <i class="fa fa-th"></i>
            <h3 class="box-title">
                Emoticons Analysis
            </h3>
        </div>
        <div class="box-body">
            <div id="emoticons_amount" ></div>
            <div id="emoticons_range" ></div>
        </div><!-- /.box-body-->
    </div>
    <script>
        var emotionUsage = {{ emoticons | safe }};
        var emotionRange = {{ emoticons_range | safe }};
        window.addEventListener('load', function() {
            console.log(emotionUsage);
        })
    </script>
{% endblock %}