{% extends "base_template_new.jinja2" %}
{% block div %}
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="text-align: center; font-family:Verdana; font-size:50px"><strong>Glasgow</strong>Sentiment</h1>
        <br>
        <br>
        <h2 style="text-align: center; font-family:Oswald">GlasgowStalker Team 11 </h2>
    </div>

{% endblock %}