{% extends "base_template_new.jinja2" %}

{% block div %}
    <div class="box box-info">
        <div class="box-header">
            <!-- tools box -->
            <div class="pull-right box-tools">
                <button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>
                <button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
            </div><!-- /. tools -->
            <i class="fa fa-th"></i>
            <h3 class="box-title">
                Tweet Content Analysis
            </h3>
        </div>
        <div class="box-body">
            <div id="tweetcontent" style="min-width: 310px; height: 430px; max-width: 900px; margin: 0 auto"></div>
{#            <div id="tweetmedia" style="min-width: 310px; height: 600px; max-width: 1000px; margin: 10px auto"></div>#}
        </div><!-- /.box-body-->
    </div>
    <script>
    var hashtags = {{ hashtags | safe }};
    var media = {{ media | safe }};
    window.addEventListener('load', function() {
            console.log('content');
        })
    </script>
{#    <p class="lead"><strong>Tweet Content Test</strong></p>#}
{#    <div id="tweetcontent" style="min-width: 310px; height: 600px; max-width: 1000px; margin: 0 auto"></div>#}
{#    <div id="tweetmedia" style="min-width: 310px; height: 600px; max-width: 1000px; margin: 10px auto"></div>#}
{% endblock %}