{% extends "base_template_new.jinja2" %}

{% block div %}
    <h4>Please select a date</h4>
    <select id="mySelect" class="form-control" onchange="myFunction()">
        {% for day in hours_emotion.day_names %}
            <option value="{{loop.index}}">{{ day }}</option>
        {% endfor %}
    </select>
    <br>
    <div class="box box-info">
        <div class="box-header">
            <!-- tools box -->
            <div class="pull-right box-tools">
                <button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
            </div><!-- /. tools -->
            <i class="fa fa-th"></i>
            <h3 class="box-title">
                Weather and Sentiment
            </h3>
        </div>
        <div class="form-group-sm" style="width:200px">

            <script>
                function myFunction() {
                    day_number = document.getElementById("mySelect").value;
                    loadchart(days,symbol, day_number);
                }
            </script>
        </div>
        <div class="box-body">
            <div id="weather_line" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
        </div><!-- /.box-body-->
    </div>
    <script>
        var day_number=0;
        var days = {{hours_emotion.days}};
        var symbol = {{jsonify(hours_emotion.symbol) | safe}};
        window.addEventListener('load', function() {
            loadchart(days,symbol, day_number);
        });
    </script>
{% endblock %}

