{% extends "base_template_new.jinja2" %}

{% block div %}

    <div id="word_cloud">
        <div id="not-supported" class="alert" hidden>
            <strong>Your browser is not supported.</strong>
        </div>
        <form id="form" method="get" action="">
            <div class="row">
                <h4>Please select a scenario</h4>
                <select id="examples" class="form-control">
                    <option selected>Examples</option>
                    <option value="red-chamber" lang="zh-tw">Weather-related</option>
                </select>
                <br>
                <div id="canvas-container">
                    <canvas id="canvas" class="canvas"></canvas>
                    <div id="html-canvas" class="canvas hide"></div>
                </div>
            </div>

            <div class="tabbable">
                <ul class="nav nav-tabs">
                    {#                    <li class="active"><a href="#tab-list" data-toggle="tab">List</a></li>#}
                    {#                <li><a href="#tab-config" data-toggle="tab">Configuration</a></li>#}
                    {#                <li><a href="#tab-dim" data-toggle="tab">Dimension</a></li>#}
                    {#                <li><a href="#tab-webfont" data-toggle="tab">Web Font</a></li>#}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-list">
                        <textarea id="input-list" hidden></textarea>
                    </div>
                    <div class="tab-pane" id="tab-config">
                        <label>Options as a literal Javascript object</label>
                        <textarea id="config-option" placeholder="Put your literal option object here." rows="2" cols="30" class="span12"></textarea>
                        <!--
                        XXX Security consideration:
                          Do not implement a feature that allow users to submit/share their script here
                          directly or indirectly. Doing so would invite XSS attack on your site.
                        -->
                        {#                    <span class="help-block">See <a href="https://github.com/timdream/wordcloud2.js/blob/master/API.md">API</a> document for available options.</span>#}
                    </div>
                    <div class="tab-pane" id="tab-dim">
                        <label for="config-width">Width</label>
                        <div class="input-append">
                            <input type="number" id="config-width" class="input-small" min="1">
                            <span class="add-on">px</span>
                        </div>
                        <span class="help-block">Leave blank to use page width.</span>
                        <label for="config-height">Height</label>
                        <div class="input-append">
                            <input type="number" id="config-height" class="input-small" min="1">
                            <span class="add-on">px</span>
                        </div>
                        <span class="help-block">Leave blank to use 0.65x of the width.</span>
                        <label for="config-height">Device pixel density (<span title="Dots per 'px' unit">dppx</span>)</label>
                        <div class="input-append">
                            <input type="number" id="config-dppx" class="input-mini" min="1" value="1" required>
                            <span class="add-on">x</span>
                        </div>
                        {#                    <span class="help-block">Adjust the weight, grid size, and canvas pixel size for high pixel density displays.</span>#}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="box box-info">
        <div class="box-header">
            <!-- tools box -->
            <div class="pull-right box-tools">
                <button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
            </div><!-- /. tools -->

            <i class="fa fa-bar-chart-o"></i>
            <h3 class="box-title">
               Average Polarities of Words
            </h3>
        </div>
        <div class="box-body">
            <div id="word_average" ></div>
        </div><!-- /.box-body-->
    </div>
    <script>
        var wordCloud = {{ word_cloud | safe}};
        var wordAverage = {{ word_sentiment_range | safe }};
        window.addEventListener('load', function() {
            console.log('average');
        })

    </script>
{% endblock %}